<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a [routerLink]="['/' + RoutesList.AdminHome]" style="display: flex; justify-content: center;">
                    <img src="/assets/icons/logo.svg" alt="Logo" style="height: 120px;">
                </a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            <li class="sidebar-item">
                <a [routerLink]="'/' + RoutesList.AdminHome" routerLinkActive="router-link-active" class='sidebar-link'>
                    <mat-icon class="material-icons-round">dashboard</mat-icon>
                    <span>Dashboard</span>
                </a>
                <a *ngIf="GlobalAppService.userIsAdmin(AuthDataService.currentUser)"
                    [routerLink]="'/' + RoutesList.AdminUsers" routerLinkActive="router-link-active"
                    class='sidebar-link'>
                    <mat-icon class="material-icons-round">supervised_user_circle</mat-icon>
                    <span>Utilisateurs</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-bottom">
        <button mat-icon-button class="icon-btn" (click)="redirectToProfile()">
            <mat-icon class="material-icons-round">manage_accounts</mat-icon>
        </button>
        <button mat-icon-button class="icon-btn logout" (click)="logout()">
            <mat-icon class="material-icons-round">logout</mat-icon>
        </button>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>