<h1 style="text-align: center;">Rick&Morty Shop</h1>
<div class="container">
    <div class="d-flex">
        <div class="card" *ngFor="let character of characters"
            [routerLink]="'/' + routesList.Item + '/' + character.uid">
            <div class="card-img" [style.backgroundImage]="'url(' + character.image + ')'"></div>
            <div class="card-txt"> {{character.name}} - ({{character.status}}) <br> <span>{{character.price}} <img
                        height="15px" width="10px"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/1200px-Ethereum_logo_2014.svg.png"></span>
            </div>
            <div>
                <button class="custom-btn">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>