<app-drawer-admin-container>
    <div class="container mt-5">
        <div class="card">
            <div class="card-title d-flex justify-between">
                <ng-container>
                    <h2 *ngIf="isNew">Création d'un utilisateur</h2>
                    <h2 *ngIf="!isNew">Modification de {{user.username}}</h2>
                </ng-container>
                <div [style.visibility]="loading ? '' : 'hidden'">
                    <mat-spinner diameter="40" strokeWidth="3"></mat-spinner>
                </div>
            </div>
            <!-- <hr> -->
            <ng-container *ngIf="user">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Informations générales">
                        <div class="row">
                            <div class="title-icon">
                                <mat-icon>account_circle</mat-icon>
                                <h4>Informations générales</h4>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-between">
                                    <mat-form-field appearance="outline" class="mr-1 w-100">
                                        <mat-label>Nom d'utilisateur</mat-label>
                                        <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="user.username"
                                            type="text">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="">
                                        <mat-label>Initial</mat-label>
                                        <input matInput placeholder="Initial" [(ngModel)]="user.initial" type="text">
                                    </mat-form-field>

                                </div>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Nom</mat-label>
                                    <input matInput placeholder="Nom" [(ngModel)]="user.lastname" type="text">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Prénom</mat-label>
                                    <input matInput placeholder="Prénom" [(ngModel)]="user.firstname" type="text">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" [(ngModel)]="user.mail" type="email">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Téléphone</mat-label>
                                    <input matInput placeholder="Téléphone" [(ngModel)]="user.phone" type="tel">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Présentation</mat-label>
                                    <textarea matInput placeholder="Présentation" [(ngModel)]="user.presentation"
                                        rows="21" cols="7"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Mot de passe">
                        <div class="row">
                            <div class="col">
                                <div class="user-password">
                                    <div class="title-icon">
                                        <mat-icon>lock</mat-icon>
                                        <h4>Mot de passe</h4>
                                    </div>
                                    <button mat-icon-button color="primary" (click)="changePassword()">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Mot de passe</mat-label>
                                        <input [disabled]="!editPassword" matInput placeholder="Mot de passe"
                                            [(ngModel)]="user.password" type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="title-icon">
                                    <mat-icon>add_moderator</mat-icon>
                                    <h4>Rôles</h4>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Rôles</mat-label>
                                        <mat-select multiple [(ngModel)]="user.roles">
                                            <mat-option *ngFor="let role of userRolesList" [value]="role">
                                                {{role.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <div>
                    <button mat-flat-button (click)="save()" color="primary">Enregistrer</button>
                </div>
            </ng-container>
        </div>
    </div>
</app-drawer-admin-container>