.login,
.register,
.password {
    height: 100vh;
    overflow-x: hidden !important;
}

.auth-right {
    height: 100%;
    background: linear-gradient(90deg, #4778ff, #2553cf);
}

.auth-left {
    padding: 3rem 6rem;
    .auth-title {
        font-size: 4rem;
        margin-bottom: 1rem;
        line-height: 45px;
    }
    .auth-subtitle {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: #a8aebb;
    }
    .auth-logo {
        // margin-bottom: 2rem;
        a {
            display: flex;
            justify-content: center;
        }
        img {
            height: 2rem;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 5rem;
    }
}

.sub-infos {
    font-size: 16px;
}

.mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-placeholder {
    font-weight: 100 !important;
}

.mat-form-field-prefix {
    padding: 15px;
}

.mat-icon-button {
    width: unset !important;
    height: unset !important;
}