<div class="password">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div class="auth-left">
                <div class="auth-logo">
                    <a><img src="assets/icons/logo.svg" alt="Logo" style="height: 230px;"></a>
                </div>
                <h1 class="auth-title">Réinitialisation</h1>
                <p class="auth-subtitle mb-5">Renseignez votre email afin de recevoir un lien pour réinitialiser votre
                    mot de passe.</p>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="text">
                    <mat-icon matPrefix>mail</mat-icon>
                </mat-form-field>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Envoyer</button>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="sub-infos">Vous vous souvenez de votre compte ? <a class="font-bold"
                            [routerLink]="'/' + RoutesList.Login">Connectez vous</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div class="auth-right">
            </div>
        </div>
    </div>
</div>